name: CI

on:
  push:
    branches:
      - master

jobs:
  validate-yaml:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: nwisbeta/validate-yaml-schema@v1.0
  
  generate-resource-templates:
    runs-on: ubuntu-latest
    needs: [validate-yaml]
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/api-catalogue-processor
        with:	
          catalogueDirectory: ${{github.workspace}}/catalogue
          outputDirectory: ${{github.workspace}}/artifacts-api-processor/  
      - uses: actions/upload-artifact@v2
        with:
          name: resource-templates
          path: ${{github.workspace}}/artifacts-api-processor
