name: CI

on: [push]

jobs:
  create-arm-templates:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      - uses: azure/docker-login@v1
        with:
          login-server: dhewci.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}
      - run: docker pull dhewci.azurecr.io/apim-arm-template:latest
      - uses: ./.github/actions/apim-devops
      - run: ls ${{github.workspace}}/arm-templates
      - uses: actions/upload-artifact@v2
        with:
          path: ${{github.workspace}}/arm-templates
      - name: Process WSDLs
        shell: bash
        env:
          APIM_INSTANCE: ${{ secrets.APIM_INSTANCE }}
          APIM_SAS_TOKEN: ${{ secrets.APIM_SAS_TOKEN }}
        run: ${{github.workspace}}/.github/actions/arm-for-wsdl/process-wsdl.sh  
      - uses: actions/upload-artifact@v2
        with:
          path: ${{github.workspace}}/arm-for-wsdl
  
  validate-yaml:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: nwisbeta/validate-yaml-schema@v1.0

    
